<div>
    <p-button [disabled]="!roomReady" label="Start Game">
    </p-button>

    <h1>Players</h1>

    <ul>
        <li>
            <input type="text" [ngModel]="currentPlayer.name"/>
            <input type="checkbox" [ngModel]="currentPlayer.ready" (ngModelChange)="setReady($event)" />
        </li>

        <li *ngFor="let player of playerStatuses">
            {{player.name}}
            <div *ngIf="player.ready">
                "✔"
            </div>
            <div *ngIf="!player.ready">
                "✘"
            </div>
        </li>
    </ul>
</div>