.game_screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: auto;
    background-color: white;
}

.fitparent {
    width:100%;
    height:100%;
}

.fit_width {
    width:100%;
    display: block;
}

.game_subscreen {
    width: 100%;
    height: 60%;
    display: inline-block;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.employer_slice {
    width: 100%;
    height: 20%;
    
    display: inline-block;
    overflow: hidden;
}

.employer_container {
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #82e0aa;
    overflow: hidden;
    font-weight:bold;
}

.employer_job_container {
    width:50%;
    height: 100%;
    background-color: #82e0aa;
    display: inline-block;
    overflow: hidden;
    font-weight:bold;
}

.utils {
    width: 25%;
    height: 100%;
    background-color: #82e0aa;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

.util_action {
    height: 32px;
    display: inline-block;
}

.util_button {
    font-size: 1ex;
}

.current_player {
    height:33%;
}

.current_player_stats {
    height: 33%
}

.current_player_actions {
    height: 33%;
} 

.employee_slice {
    width: 100%;
    height: 20%;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: nowrap;
    margin-top: 5px;
    display: block;
}

.employee_ready {
    width: 25%;
    height: 100%;
    display: inline-flex;
    white-space: nowrap;
    background-color: #5499c7;;
}

.employee_ready:hover {
    transform: scale(0.95);
}

.employee_interviewed {
    width: 25%;
    height: 100%;
    display: inline-flex;
    white-space: nowrap;
    background-color: #cacfd2;
}

.employee_actions_container {
    width:75%;
    height: 100%;
    
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    white-space: nowrap;
    margin-left: 5px;
}

.card_slice {
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: inline-block;
    background:  #cacfd2;
}

.card_deck {
    width: 90%;
    height: 100%;
    
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
}

.ready_container {
    width:10%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.card {
    height:100%;
    width:13%;
    display: inline-flex;
    border-radius: 5px;
    background-color:   #82e0aa ;
    padding: 10px;
    margin: 5px;
    min-width: 64px;

    text-align: center;
    white-space: break-spaces;
    overflow-wrap: normal;
    word-wrap: normal;
    hyphens: auto;
}

.card:hover {
    transform: scale(0.9);
}

.card-in-hand {
    height:100%;
    width:13%;
    display: inline-flex;
    border-radius: 5px;
    background-color:   #82e0aa ;
    padding: 10px;
    margin: 5px;
    min-width: 64px;

    text-align: center;
    white-space: break-spaces;
    overflow-wrap: normal;
    word-wrap: normal;
    hyphens: auto;
}

.card-in-hand:hover {
    transform: scale(0.9);
}

.card-selected {
    background-color: #1abc9c;
}

.card-presented{
    background-color: gray;
}

.interviewing {
    background-color:  #c0392b;
}

.candidate_name {

}

.candidate_stats {

}

button {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    background-color:  #cd6155;
    margin: 5px;
}