<div class="game_screen">
    <div class="employer_slice">
        <div class="employer_container">
            <div class="fitparent"><h2>🕵️ {{game.employer}}</h2></div>
        </div>
        <div class="employer_job_container">
            <div class="fitparent"><h2>💼 {{game.role}}</h2></div>
        </div>
        <div class="utils" [ngClass]="{'interviewing': game.isCurrentCandidate(game.playerId)}">
            <div  class="current_player fit_width">
                <b>{{game.playerId}}</b>
            </div>
            <div class="current_player_stats fit_width">
                👑 {{game.wins}} 🕹️ {{game.gameId}}
            </div>
            <div class="current_player_actions fit_width">
                <div class="util_action">
                    <button class="util_button" (click)="startTurn($event)">New Turn</button>
                </div>
                <div class="util_action">
                    <button class="util_button" (click)="leaveGame($event)">Leave Game</button>
                </div>
                <!-- <div class="util_action">
                    <button class="util_button" (click)="forceNewTurn($event)">Force Turn</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="game_subscreen">
        <div class="employee_slice" *ngFor="let player of game.candidates">
            <div class="employee_container" id={{player.id}}  (click)="candidateClick($event)" [ngClass]="{'interviewing': game.isCurrentCandidate(player.id)}">
                <div id={{player.id}} class="fit_width candidate_name">👔 {{player.id}}</div>
                <div id={{player.id}} class="fit_width candidate_stats">👑 {{player.wins}}</div>
            </div>
            <div class="employee_actions_container">
                <div [className]="card.revealed ? 'card card-selected' : 'card'" *ngFor="let card of player.display_items" id={{card.id}} (click)="revealCard($event)">
                    <div>
                        {{card.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card_slice">
        <div class="card_deck">
            <div class="card-in-hand" *ngFor="let card of game.cards" id="{{card.id}}" (click)="toggleCard($event)">
                {{card.text}}
            </div>
        </div>
        <div class="ready_container">
            <button id="ready_button" (click)="toggleReady($event)">Ready</button>
        </div>
    </div>
</div>
